body {
    background-color: #3f3f3f;
}

.bgimg {
    background-image: url("https://github.com/PDCloud/Pivl-CDN/blob/main/css/pivlbeta1.png?raw=true");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: repeat;
}

.c {
    color: white;
    font-bold: 750;
    font-size: 250%;
    text-shadow: 5px 5px 5px black;
    text-align: center;
    z-index: 100;
    opacity: 1;
}
